<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f ="http://xmlns.jcp.org/jsf/core"
      xmlns:t="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:i="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
     <h:head>
        <title>Library book reservation</title>
    </h:head>
    <h:body>
        <h1>Library book reservation</h1>
        <h2>Submit for details</h2>
        <p style="color: red;">#{libraryBacking.getHint()}</p><br/><p style="color: red;">#{register.getHint()}</p>
        <form>
            <table border="1">
                <tr><td>Title</td><td>  <h:inputText   id="title" value="#{libraryBacking.title}"/></td></tr>
                <tr><td>Author</td><td>  <h:inputText   id="author" value="#{libraryBacking.author}" /></td></tr>
                <tr><td>ISBN</td><td>  <h:inputText id="isbn" value="#{libraryBacking.isbn}" /></td></tr>                 
            </table>
            <c:choose>
                <c:when test="${register.notStaff() == true}">
                    <input type="reset" value="Reset" disabled= "disabled"/>                
                  <input type="submit" value="Submit"  disabled= "disabled"/> 
                </c:when>
                <c:otherwise>
                  <input type="reset" value="Reset"/>                
                  <input type="submit" value="Submit" action="#{libraryBacking.addBook()}"/> 
                </c:otherwise>
             </c:choose>       
         </form>
        <br/>

    </h:body>
</html>
