<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:i="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      >
   <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>BOOK RESERVATION</title>
    </h:head>
     <p style="color: red;">#{libraryBacking.getHint()}</p>
    <h:body>
        <h:panelGroup id="reservation" layout="block">
            <h:form>
                <div>
                    <h:outputLabel value="Write the Book ID: " />
                    <h:inputText id="bookid" p:pattern="[0-9]+" p:required="required"
                                 value="#{libraryBacking.bookID}" />
                </div>
                <br/>
                <div>
                    <h:outputLabel value="Write your first name: " />
                    <h:inputText id="firstName" p:pattern="[A-Za-z]+" p:required="required"
                                 value="#{libraryBacking.firstName}" />
                </div>   
                <br/>
                <div>
                    <h:outputLabel value="Write your last name: " />
                    <h:inputText id="lastName" p:pattern="[A-Za-z]+" p:required="required"
                                 value="#{libraryBacking.lastName}" />
                </div>   
                <br/>
                <div>
                    <h:outputLabel value=" The Current Date: " />
                    <h:outputText value="#{libraryBacking.startDate}">
                        <f:convertDateTime pattern="dd/MM/yyyy" type="date" />
                    </h:outputText>                  
                </div>
                <br/>
                <div>
                    <h:outputLabel value="Reservation Till: " />
                    <i:calendar id="Date" value="#{libraryBacking.endDate}" pattern="dd/MM/yyyy" showOn="button">
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </i:calendar>
                </div>
                <div>
                    <h:commandButton id="submit" value="Reserve" action="#{libraryBacking.addReserveBook}" />
                </div>
            </h:form>
        </h:panelGroup>
    </h:body>
</html>

