<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Library book register system</title>
    </h:head>
    <h:body>      
        <h:panelGroup id="register" layout="block" 
                      rendered="#{empty simpleForumBean.username}">
            <h1>Join our library system</h1>
            <p>To join, enter a new user name and password below.</p>
            <h:form>
                <div>
                    <h:outputLabel value="First name: " />
                    <h:inputText id="firstName" p:pattern="[A-Za-z0-9]+" p:required="required"
                                 value="#{register.firstName}" />
                </div>
                <div>
                    <h:outputLabel value="Last name: " />
                    <h:inputText id="lastName" p:pattern="[A-Za-z0-9]+" p:required="required"
                                 value="#{register.lastName}" />
                </div>
                <div>
                    <h:outputLabel value="Password: " />
                    <h:inputSecret id="password" p:required="required"
                                 value="#{register.password}" />
                </div>
                <div>
                    <h:commandButton id="submit" value="Join!" action="#{register.addRegistration}" />
                </div>
            </h:form>
        </h:panelGroup>
        <p style="color: red;">#{register.getHint()}</p>
        <h:panelGroup id="login" layout="block" 
                      rendered="#{empty simpleForumBean.username}">
            <h1>Login our system</h1>
            <p>To login, enter a user name and password below to identify yourself.</p>            
            <h:form>
                <div>
                    <h:outputLabel value="First name: " />
                    <h:inputText id="firstName" p:pattern="[A-Za-z0-9]+" p:required="required"
                                 value="#{register.firstName}" />
                </div>
                <div>
                    <h:outputLabel value="Last name: " />
                    <h:inputText id="lastName" p:pattern="[A-Za-z0-9]+" p:required="required"
                                 value="#{register.lastName}" />
                </div>
                <div>
                    <h:outputLabel value="Password: " />
                    <h:inputSecret id="password" p:required="required"
                                 value="#{register.password}" />
                </div>
                <div>
                    <h:commandButton id="submit" value="Login" action="#{register.login}" />
                </div>
            </h:form>
        </h:panelGroup>
    </h:body>
</html>

