<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
       xmlns:c="http://java.sun.com/jsp/jstl/core"
       xmlns:f="http://xmlns.jcp.org/jsf/core">>
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Library book searching system</title>
    </h:head>
    <h:body>
            <h1>Library book searching system</h1>
        <h2>Insert a keyword</h2>
        <p style="color: red;">#{searchBooks.getHint()}</p>
        <h:form>
            <table border="1">              
                <tbody>                   
                    <tr>
                    <td>Search By:</td>
                    <td>
                        <h:selectOneMenu id="searchType" value="#{searchBooks.searchType}">                            
                            <f:selectItem itemValue="Book ID" itemLabel="Book ID" />
                            <f:selectItem itemValue="ISBN" itemLabel="ISBN" />
                            <f:selectItem itemValue="Author" itemLabel="Author" />
                            <f:selectItem itemValue="Title" itemLabel="Title" />
                        </h:selectOneMenu> 
                     </td>
                    </tr>
                    <tr>
                        <td>Keyword:</td>
                        <td> <h:inputText id="keyword" p:pattern="[A-Za-z0-9]+" p:required="required" value="#{searchBooks.keyword}" />
                               
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <input type="reset" value="Reset" />  
            
            <input type="submit" value="Submit" action="#{searchBooks.searchBook()}"/>           
           
        </h:form>
        <table> 
                <c:forEach items="${searchBooks.bookList}" var="currentBook">
                 <tr>      
                   <td> 
                    <h:outputText value="Book ID" />        
                   </td> 
                    <td> 
                    <h:outputText value="Title" />        
                   </td> 
                    <td> 
                    <h:outputText value="Author" />        
                   </td> 
                    <td> 
                    <h:outputText value="ISBN" />        
                   </td> 
                    <td> 
                    <h:outputText value="Member ID" />        
                   </td> 
                    <td> 
                    <h:outputText value="First Name" />        
                   </td> 
                    <td> 
                    <h:outputText value="Last Name" />        
                   </td>
                    <td> 
                    <h:outputText value="Borrow Date" />        
                   </td>
                    <td> 
                    <h:outputText value="Return Date" />        
                   </td>
                </tr>
                <tr>      
                   <td> 
                    <h:outputText value="${currentBook.bookID}" />        
                   </td> 
                    <td> 
                    <h:outputText value="${currentBook.title}" />        
                   </td> 
                    <td> 
                    <h:outputText value="${currentBook.author}" />        
                   </td> 
                    <td> 
                    <h:outputText value="${currentBook.isbn}" />        
                   </td> 
                    <td> 
                    <h:outputText value="${currentBook.memberID}" />        
                   </td> 
                    <td> 
                    <h:outputText value="${currentBook.firstName}" />        
                   </td> 
                    <td> 
                    <h:outputText value="${currentBook.lastName}" />        
                   </td>
                    <td> 
                    <h:outputText value="${currentBook.borrowDate}" />        
                   </td>
                    <td> 
                    <h:outputText value="${currentBook.returnDate}" />        
                   </td>
                </tr>
            </c:forEach>
        </table>

    </h:body>
</html>
