<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:i="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Library book reservation system</title>
    </h:head>
    <h:body>
            <h1>Library book reservation system</h1>
        <h2>Submit the details</h2>
        <h:form>
            <table border="1">              
               <p style="color: red;">#{register.getHint()}</p><br/> <p style="color: red;">#{libraryBacking.getHint()}</p>
                <tbody>                   
                    <tr>
                        <td>Book ID</td>
                        <td>
                        <h:inputText id="bookId" p:pattern="[A-Za-z0-9]+" p:required="required"
                                 value="#{libraryBacking.bookID}" />
                        </td>
                        
                    </tr>                    
                    <tr>
                    <td>current status</td>
                    <td>
                        <h:selectOneMenu id="status" value="#{libraryBacking.status}">                            
                            <f:selectItem itemValue="On shelf" itemLabel="On shelf" />
                            <f:selectItem itemValue="borrowed" itemLabel="borrowed" />
                            <f:selectItem itemValue="lost" itemLabel="lost" />
                            <f:selectItem itemValue="damaged" itemLabel="damaged" />
                        </h:selectOneMenu> 
                    </td>                   
                    </tr>             
                    <tr>
                        <td>First Name of the borrower </td>
                        <td>
                        <h:inputText id="firstName" p:pattern="[A-Za-z0-9]+" p:required="required"
                                 value="#{libraryBacking.firstName}" /></td>
                    </tr>
                    <tr>
                        <td>Last Name of the borrower </td>
                        <td><h:inputText id="lastName" p:pattern="[A-Za-z0-9]+" p:required="required"
                                 value="#{libraryBacking.lastName}" /></td>
                    </tr>                    
                     <tr>
                        <td>ID of the borrower </td>
                        <td><h:inputText id="memberID" p:pattern="[0-9]+" p:required="required"
                                 value="#{libraryBacking.memberID}" />
                            </td>
                    </tr>                    
                    <tr>
                        <td>Borrow date of the book </td>
                        <td>
                        <i:calendar id="startDate" value="#{libraryBacking.startDate}" pattern="dd/MM/yyyy" showOn="button">
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </i:calendar>  
                        </td>
                    </tr>                    
                    <tr>
                        <td>Return date of the book </td>
                        <td>
                        <i:calendar id="endDate" value="#{libraryBacking.endDate}" pattern="dd/MM/yyyy" showOn="button">
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </i:calendar>  
                        </td>
                    </tr>
                </tbody>
            </table>                    
         
            
             <c:choose>
                <c:when test="${register.notStaff() == true}">
                  <input type="reset" value="Reset" disabled= "disabled"/>                
                  <input type="submit" value="Submit" disabled= "disabled"/> 
                </c:when>
                <c:otherwise>
                   <input type="reset" value="Reset"/>                  
                   <input type="submit" value="Submit" action = "#{libraryBacking.submitDetails()}"/> 
                </c:otherwise>
             </c:choose>
            
        </h:form>
    </h:body>
</html>
